.parent {
    width: 500px;
    margin: 0 auto;
}
.enfant {
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}