/**********************/
/* plugin lostPassword /*
/**********************/

/* auth.php */
#lostpassword p {
	text-align: center;
	padding: 5px;
}
#lostpassword div {
	display: none;
	padding: 0 5px;
	background-color: Coral;
}
#lostpassword div label {
	color: Moccasin;
	font-weight: normal;
}
/* config.php */
#form_lostpassword label {
	display: inline-block;
	width: 320px;
	text-align: right;
}
#form_lostpassword label.large {
	display: inline-block;
	width: auto;
	margin-top: 10px;
	padding-right: 10px;
	text-align: left;
}
#form_lostpassword p:first-child {
	margin: 10px;
	text-align: center;
}
#form_lostpassword p:last-child {
	margin-top: 10px;
}

