#overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000;
}
#overlay div {
	width:300px;
	margin: 200px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
}

#form_static_password {
	margin: 20px 0 20px 0;
}
.static_password_error {
	margin: 20px 20px 20px 20px;
	padding: 5px 15px 5px 15px;
	border: 1px solid;
	font-size: 13px;
	font-weight:bold;
	color:#000 !important;
	background-color: #ffcfcf;
	border-color: #df8f8f;
	text-align:center;
}

.static_password_success {
}
