#form_kzGallery label {
	width: 25rem;
	margin-right: 1rem;
	text-align: right;
}
#form_kzGallery select {
    width: auto;
}
.kzGallery.outside {
	position: fixed;
	top: -100%;
	left: 0;
}
#kzGallery-copy {
	transition: transform ease 1s;
}
#kzGallery-copy.copied {
	transform: scale(0.8);
	opacity: 0.7;
}
h2.kzGallery {
	color: #258fd6;
	font-weight: bold;
}
pre.kzGallery {
	background-color: #444;
	color: #fff;
	padding: 0.3rem 0.5rem;
}
