/* styles.css plxContentBackup */
#plxContentBackupmail .clear { clear: both; margin:0; padding: 0; }
#plxContentBackupmail { font-size: 10pt; color: #777777; } 
#plxContentBackupmail h2 { background: #FFF; border: 0; color: #004771; padding: 0; margin: 20px 0 25px 0; }
#plxContentBackupmail h3 { background: #FFF; border: 1px solid #ccc; color: #333; padding: 10px; margin: 20px 0 0px 0; display: block; font-size: 15pt;  font-weight: normal; }
#plxContentBackupmail h3 a { color: #6fa9d6; }
/* options*/
#plxContentBackupmail div.options { height: 70px; }
#plxContentBackupmail div.options a {
	width: 250px;
	height: 42px;
	display: block;
	border: 0;
	float: left;
	margin: 10px;
	padding: 4px 10px 10px 50px;
	color: #515151;
	font-weight: normal;
}
#plxContentBackupmail div.options a.archive { background: url('./plxContentBackup/img/archive.jpg') 0 0 no-repeat; }
#plxContentBackupmail div.options a.email { background: url('./plxContentBackup/img/email.jpg') 0 0 no-repeat; }
/* liste */
#plxContentBackupmail div.liste, #plxContentBackupmail div.liste a { font-weight: normal }
#plxContentBackupmail div.liste table { padding: 10px; }
#plxContentBackupmail div.liste table td { padding: 3px; }
#plxContentBackupmail div.liste td.name { padding-left: 21px; background: url('./plxContentBackup/img/zip.png') no-repeat 0 0; }