/* --- admin.css for Codemirror plugin --- */
body.codemirror-plugin > main > section { margin-bottom: 0; }
.section .action-bar {
	z-index: 12;
}
.CodeMirror { height: calc(100vh - 17rem); }
.CodeMirror-fullscreen { z-index: 16 !important; }
.cm-help-btn {
	position: absolute;
	top: 4rem;
	right: 4rem;
	display: inline-block;
	font-weight: bold;
	z-index: 16;
}
.CodeMirror-fullscreen + .cm-help-btn { position: fixed; }
.cm-help-content {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -60.5rem;
	width: 60rem;
	padding: 1rem;
	overflow: auto;
	background-color: #fff;
	border-left: 5px ridge #888;
	z-index: 20;
	transition: right ease 1.5s;
}
.cm-help-content.active {
	right: 0;
}
.cm-help-content h2 {
    text-align: center;
    margin: 0;
    color: blue;
}
.cm-help-content dt {
    display: flex;
    justify-content: space-between;
}

#codemirror-configuration {
	display: flex;
	margin-bottom: 0.8rem;
}
#form_codemirror {
	margin: 0;
	padding: 0.3rem;
	border: 1px solid #444;
	max-width: 62rem;
}
#form_codemirror p {
    line-height: initial;
    margin: 0.3rem 0;
}
#form_codemirror p:last-of-type {
	margin-bottom: 0;
}
#form_codemirror label,
#form_codemirror .profils-label {
	display: inline-block;
	width: 22rem;
	text-align: right;
	margin-right: 0.5rem;
}
#form_codemirror .profil,
#form_codemirror input[type="checkbox"] {
    display: inline-block;
    width: 3.8rem;
    text-align: center;
}
#form_codemirror select {
	width: calc(100% - 22rem - 1rem);
}
#codemirror-promotion {
    position: fixed;
    top: 0.8rem;
    right: 1rem;
    z-index: 9999;
}
#codemirror-promotion p {
    margin: 0;
}
#codemirror-promotion a {
	display: block;
}
#id_sandbox {
	height: 30rem;
	padding: 0.3rem;
	border: 1px solid #444;
    font-size: initial;
    line-height: initial;
    resize: vertical;
}

/* ************ 2017-08-31 ******* */
.statusbar {
	display: flex;
	margin: 0;
	padding: 0.3rem 0;
	/* background-color: #eee; */
	background: -wekkit-linear-gradient(#eee, #ccc);
	background: -o-linear-gradient(#eee, #ccc);
	background: -ms-linear-gradient(#eee, #ccc);
	background: linear-gradient(#eee, #ccc);
	border-top: #444;
	font-size: 80%;
}
.CodeMirror-fullscreen + .statusbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2rem;
}
body:not(.no-cm-statusbar) .CodeMirror-fullscreen {
	bottom: 2rem !important;
}
.statusbar span {
	margin: 0;
	padding: 0 0.5rem;
}
.statusbar span:not(:last-of-type) {
	border-right: 1px solid #444;
}
.statusbar .spacer {
	flex-grow: 1;
}
.statusbar span[data-command]:hover {
	cursor: pointer;
	color: blue;
	background-color: #aaa;
}


.CodeMirror {
	font-size: 12pt;
	line-height: initial;
	font-family : 'Noto Mono', 'Droid Sans Mono', 'Ubuntu Monospace', 'Bitstream Sans Mono', Monospace;
}
.CodeMirror:not(.CodeMirror-fullscreen) {
	resize: vertical;
	border: 1px solid #aaa;
}

/* **** AdminPluginCss.php ****** */
#parametres_plugincss.codemirror-plugin fieldset {
	--tab-width: 30rem;
	position: relative; /* refs pour les onglets <label> */
	margin-top: 3.1rem;
}
#parametres_plugincss.codemirror-plugin fieldset div.grid > div {
	margin-top: 0;
	margin-bottom: 0;
}
#parametres_plugincss.codemirror-plugin fieldset div.grid > div > label {
	position: absolute;
	top: -3.1rem;
	width: calc(var(--tab-width) - 0.5rem);
	padding-top: 0.5rem;
	background-color: #eee;
	border-radius: 1rem 1rem 0 0;
	text-align: center;
}
#parametres_plugincss.codemirror-plugin fieldset div.grid > div > label.active {
    background-color: #444;
    color: #fff;
}
#parametres_plugincss.codemirror-plugin fieldset div.grid > div > label:not(.active) {
	cursor: pointer;
}
#parametres_plugincss.codemirror-plugin.codemirror-plugin fieldset div.grid > div > label + textarea + div {
    display: none;
}
#parametres_plugincss.codemirror-plugin.codemirror-plugin fieldset div.grid > div > label.active + textarea + div {
    display: block;
}
#parametres_plugincss.codemirror-plugin fieldset div.grid:nth-of-type(1) > div > label {
    left: calc(var(--tab-width) * 0);
}
#parametres_plugincss.codemirror-plugin fieldset div.grid:nth-of-type(2) > div > label {
    left: calc(var(--tab-width) * 1);
}
#parametres_plugincss.codemirror-plugin fieldset div.grid:nth-of-type(3) > div > label {
    left: calc(var(--tab-width) * 2);
}
#parametres_plugincss.codemirror-plugin fieldset div.grid:nth-of-type(4) > div > label {
    left: calc(var(--tab-width) * 3);
}
#parametres_plugincss.codemirror-plugin fieldset textarea {
	min-height: 60vh;
}
